* {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9rem;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 150px 2fr;
}
.text-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.upcoming-done {
  margin-top: 10%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.side-bar {
  width: 150px;
  height: 95vh;
  border-right: 1px solid orangered;
}
.side-bar h3 {
  background-color: beige;
}
.side-bar section {
  padding-left: 4px;
}
.side-bar ul {
  list-style: none;
  padding-left: 0;
}

.projects {
  margin-top: 50px;
}

.logo {
  font-size: 1.3rem;
  text-align: center;
}
.cta-btns,
.menu-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logos-section {
  display: flex;
}
.menu-items li,
.cta-btns li {
  font-size: 0.7rem;
  margin-right: 1rem;
  color: hsl(0, 0%, 41%);
}
.cta-btns li:nth-last-child(1) {
  border: 1px solid gray;
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
}

/* Client logos */
.clients-logos img {
  width: 5rem;
  margin-right: 1rem;
}
.clients-logos {
  margin-top: 4rem;
}
.clients-logos img:nth-child(2) {
  width: 3rem;
}

/* main */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* height: 95vh; */
  /* align-items: center;
  justify-content: center; */
  margin-left: 5px;
}
main h1 {
  font-size: 3rem;
}
main h2 {
  font-size: 1rem;
  text-align: left;
}
.main-right {
  display: grid;
  grid-template-rows: repeat(1fr 1fr);
  margin-top: 15%;
  margin-left: 5px;
  /* border: 1px solid yellowgreen; */
}
.projects-todos {
  width: 100%;
}
.todo-item {
  background: #dceccf;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

.todo-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-actions button {
  border: 0;
  outline: 0;
  margin: 2px;
  color: #fff;
  background-color: darkgray;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
}
.todo-actions .edit-todo {
  background: #85e734;
  color: #fff;
}
.edit-upcoming-todo {
  border: none;
  outline: none;
  color: white;
  background-color: darkgray;
  border-radius: 4px;
  margin-left: 5px;
}
.todo-actions .delete-todo {
  background: #e74c3c;
  color: #fff;
}
.todo-actions .complete-todo {
  background: #2d3a23;
  color: #fff;
}

.upcoming-todos {
  height: 42vh;
  background: #ececeb;
  padding-left: 10px;
  border-radius: 3px;
}
.completed-todos {
  height: 100%;
  background: #f1eeee;
  padding-left: 10px;
  border-radius: 3px;
}
.todo-completed {
  text-decoration: line-through;
}

.todos button,
.projects button {
  background-color: hsl(0, 0%, 8%);
  color: #fff;
  border: none;
  font-size: 0.7rem;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
}
/* Hero image */
.img-side img {
  width: 20rem;
}

.input-row {
  margin-bottom: 10px;
}

.input-row input,
.input-row select,
.input-row textarea {
  width: calc(100%-10px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.input-row label {
  margin-right: 25px;
  /* display: block; */
  margin-bottom: 5px;
  font-size: 14px;
}
.button-group {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.closeModal {
  border: none;
  margin-left: 96%;
  margin-bottom: 10px;
  color: red;
}

/* Cater for responsiveness */
/* Responsive */
@media (min-width: 300px) and (max-width: 480px) {
  * {
    font-size: 1rem;
  }

  body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  main {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
  }

  /* Clients logos */
  .clients-logos {
    margin-top: 2rem;
  }

  .desktop-logos {
    display: none;
  }

  .mobile-logos {
    display: block;
  }

  /* Images */
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
    margin-top: 3rem;
  }

  .cta-btns,
  .menu-items {
    display: none;
  }

  main h1 {
    font-size: 2.5rem;
  }

  /* Client Logos */
  .clients-logos img {
    width: 4.5rem;
    margin-right: 0.8rem;
  }

  .attribution {
    width: 13rem;
    margin: 8rem auto 0 auto;
    text-align: center;
    margin-left: 350px;
  }
}
